/* 
** Copyright 2011 TEI Consortium

$Id: tei.css 10302 2012-04-24 19:18:11Z rahtz $

This software is dual-licensed:

1. Distributed under a Creative Commons Attribution-ShareAlike 3.0
Unported License http://creativecommons.org/licenses/by-sa/3.0/ 

2. http://www.opensource.org/licenses/BSD-2-Clause
    
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

* Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright
notice, this list of conditions and the following disclaimer in the
documentation and/or other materials provided with the distribution.

This software is provided by the copyright holders and contributors
"as is" and any express or implied warranties, including, but not
limited to, the implied warranties of merchantability and fitness for
a particular purpose are disclaimed. In no event shall the copyright
holder or contributors be liable for any direct, indirect, incidental,
special, exemplary, or consequential damages (including, but not
limited to, procurement of substitute goods or services; loss of use,
data, or profits; or business interruption) however caused and on any
theory of liability, whether in contract, strict liability, or tort
(including negligence or otherwise) arising in any way out of the use
of this software, even if advised of the possibility of such damage.

*/


/* main layout */

body.simple {
   color: #000000;
   background-color: #FFFFFF;
   margin: 10pt;
}

body{
   color: #000000;
   background-color: #FFFFFF;
   margin: 10pt;
   padding:0;
   font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
}

body.pagetable {
   color: #000000;
   background-color: #FFFFFF;
}

/* now the layers of the header */

/* the main title */
div.stdheader {
      border-bottom: 1pt solid black;
}

/* section headings */

h1 {
   font-weight: bold;
   font-size: 2em;
}

h2 {
   font-size: larger;
   margin-top: 18pt;
   font-weight: bold;
}

h3 {
   font-size: larger;
   font-weight: bold;
   font-style: italic;
}


h1.maintitle {
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold;
   bottom: 5px;
}

h1.title {
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold;
   bottom: 5px;
}

h2.institution {
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
}

h2.department {
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
}

h2.subtitle {
   margin-left: 100px;
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold;
}

.footer {
   text-align : center;
   font-family: Arial,Helvetica,sans-serif; 
   font-size : 0.8em;
}

/* components of the breadcrumb trail */
a:hover
{
   text-decoration: underline;
}

/* table of contents */
ul.toc {list-style: none;}
li.toc {list-style: none;}

/* table of contents links */

a.inlinetoc:link,a.inlinetoc:visited
{
   color: #7A7A7A;
   font-size: smaller; 
   text-decoration: none;
}

a.inlinetoc-this:visited,a.inlinetoc-this:link
{   
   font-size: smaller; 
   color: #000000;
   font-weight: bold; 
   text-decoration: underline;
}

a.inlinetoc-sub:visited,a.inlinetoc-sub:link
{
   text-decoration: none;
   color: #000000;
   font-weight: normal;
   font-size: smaller; 
}

span.toclist{
   font-size: smaller; 
   font-family: Arial,Helvetica,sans-serif;
   font-weight: bold;
}

p.toclist0 {
   margin-left: 0.5em; 
   margin-top: 1pt; 
   margin-bottom: 3pt; 
   text-indent: -0.5em;
   font-size: small;    
}

p.toclist1 {
   margin-left: 1em; 
   margin-top: 1pt; 
   margin-bottom: 2pt; 
   text-indent: -0.7em;
   font-size: small;    
}

p.toclist2 {
   margin-left: 1.5em; 
   text-indent: -1em;
   font-size: small;    
}

p.toclist3 {
   margin-left: 2em; 
   text-indent: -1.5em;
   font-size: small;    
}

span.toclist-this {
   color: red;
}

a.toclist:visited,a.toclist:link
{
   font-weight: bold; 
   color: #000000;
   text-decoration: none;
}



/* Notes */
div.noteHeading {
   margin-top: 9pt;
   border: 0;
   border-top: 1pt;
   border-style: solid;
   padding-top: 6pt;
   font-size: larger;
   font-weight: bold;
}
div.noteBody {
  display:inline;
}

div.note {
   margin-left: 1em; 
   margin-bottom: 4pt; 
   text-indent: -1em;
}

span.noteLabel {
    font-style: italic;
}
span.noteNumber:before {
    content: "[";
}
span.noteNumber:after {
    content: "]. ";
}

span.note {
    font-size: smaller;
}
/* images */
img.display {
   margin-top: 10pt;
   margin-bottom: 10pt;
   display: block;
}
.caption {
   font-style: italic;
}
span.caption {
   display: block;
}

.floatimage {
   float : left;
   margin-right : 6px;
   vertical-align : top;
}
/* specialized divs */
div.letter {
   margin-left: 2em;
   margin-right: 2em;
   margin-top: 6pt;
   margin-bottom: 6pt;
   border-top: 1pt solid green;
   border-bottom: 1pt solid green;
}
/* title page */
div.titlePage,div.titlepage {
   border-top: 2pt solid #000000;
   border-bottom: 2pt solid #000000;
   padding-top: 6pt;
   padding-bottom: 6pt;
   font-size: larger;
   text-align: center;
}
.docImprint {
    display: block;
   font-style: italic;    
}
.docDate {
   font-style: italic;    
}
.docTitle {
    display: block;
    margin-top: 6pt;
    font-weight: bold;
    margin-bottom: 18pt;
}
.docAuthor {
    font-style: italic;
}

.byline {
    display: block;
}   

div.dateline{
   text-align: right;
}
/* verse */
div.lg {
   margin-left: 10px;
   margin-bottom: 10px;
}

div.signed {
    text-align:left;
}
div.l {
    text-align:left;
    margin-left: 1em;
}
div.epigraph {
    margin: 20pt;
}
div.numbering {
    float:left; 
    font-size:smaller; 
    width: 2em;
}

div.linenumber { }

div.indent1 {
   margin-left: 1em;
}
div.indent2 {
   margin-left: 2em;
}
div.indent3 {
   margin-left: 3em;
}
div.indent4 {
   margin-left: 4em;
}
div.indent5 {
   margin-left: 5em;
}
div.indent6 {
   margin-left: 6em;
}

/* general purpose block aligns */
.centerbold {
    text-align:center;
    font-weight: bold;
}
.center {
    text-align:center;
}
.right {
    text-align:right;
}
.left {
    text-align:left;
}

/* misc inline*/

span.foreign {
    font-style: italic;
}

.plain {
   text-decoration: none;
}

p.box {
   border: 1pt solid #000000;
}

.small {
   font-size: small;
}

td.label {
   font-weight: bold;
   background-color: #AAAAAA;
}
tr.label td {
   font-weight: bold;
   background-color: #AAAAAA;
}

span.label {
    font-weight: bold;
}

h5 {    
   font-size: 100%;
}
h6 {    
   font-size: 100%;
}

div.tocFront {
   border-bottom: 1pt solid #000000;
}
div.tocBack {
   border-bottom: 1pt solid #000000;
}
div.tocBody {
   border-bottom: 1pt solid #000000;
}
/* a listBibl rend='labels' */
div.listBibl {
       margin-top: 6pt;
       margin-bottom: 6pt;
}
div.bibl {
   margin-left: 0.5em; 
   text-indent: -0.5em;
}
div.biblfree {
   font-size: smaller; 
   font-style:italic;
   margin-left: 0.5em; 
   text-indent: -0.5em;
   margin-bottom: 6pt;
}

span.biblLabel {
    font-weight: bold;
    margin-right: 1em;
}

/* a <bibl> inside a <cit> */
div.citbibl:before {
    content: "(";
}
div.citbibl:after {
    content: ")";
}
div.citbibl {
   text-align:right;
   font-size: smaller;
}
/* a <quote> inside a <cit> */
div.citquote {
   margin-left: 10pt;
   margin-right: 10pt;
}

/* gloss lists with bold labels */
dt {
   font-weight: bold;
}
div.blockquote {
   margin: 10pt;
}

/* generic <hi> */
span.hi {
   font-weight: bold;
}

p, div.p {
 margin-top: 0.3em;
}
/* bibl */
span.titlem {
    font-style: italic;
}
span.titlej {
    font-style: italic;
}
span.titleu {
}
span.titles {
}

span.margnote,div.margnote {
             display: block;
       font-size: smaller;
       clear: right;
       padding: 4pt;
       font-style: italic;
       width: 10%;
       float:right; 
       border: solid green 1pt; 
       margin: 6pt;
}

div.floatingText_back {
    border-top: solid black 1pt;
}
div.floatingText_front {
    border-top: solid black 1pt;
}
div.floatingText {
    margin: 6pt;
    border: solid black 1pt;
}
div.pagebreak,span.pagebreak {
    display: block;
    color: grey;
    float: right;
}
span.element {
    font-weight: bold;
    color: black;
}
span.unclear {
    font-weight: bold;
}
span.wordtypeNN, span.wordtypeNNS {
    color: green;
    }
span.wordtypeVVD,span.wordtypeVVN,span.wordtypeVVN,span.wordtypeVVZ,span.wordtypeVVG, span.wordtypeVV {
    color: red;
    }

li.headless {
    display: none;
}
span.hi {
    font-weight: bold;
}

div.footer {
    border-top: solid black 1pt;
}

div.stdfooter {
    border-top: solid black 1pt;
    border-bottom: solid black 1pt;
}

div.altfigure {
    border-top: solid black 1pt;
    border-bottom: solid black 1pt;
}

table.table, table.table tr, table.table td {
    border: solid black 1pt;
}
table.table td {
    padding: 1ex 1ex 1ex 1ex;
}
p.mainAuthor {
    display: block;
    margin: 1ex 0ex 1ex 0ex;
}
p.mainEditor {
    display: block;
    margin: 1ex 0ex 1ex 0ex;
}

span.ident, 
span.ident-class, span.ident-datatype, span.ident-frag,
span.ident-ge,    span.ident-macro,    span.ident-module,
span.ident-pe,    span.ident-rng,      span.ident-schema  {
    font-weight: bold;
}

span.ident-file, span.ident-ns {
    font-style: italic;
}

button.displayRelaxButton {
    margin-right: 2px;
    margin-top: 2px;
    font-size: 70%;
    float: right;
    cursor: pointer;
}


/* <hi> rend values */
span.typewriter{
    font-family: monospace;
}
span.normalweight{
}
span.smallcaps{
    font-variant: small-caps;
}
span.bold{
    font-weight: bold;
}
span.italic{
    font-style:italic;
}
span.capsall{
    text-transform: uppercase;
}
span.strikethrough{
    text-decoration: line-through;
}
span.strikedoublethrough{
    text-decoration: line-through;
}
span.underline{
    text-decoration: underline;
}
span.underwavyline{
    text-decoration-line: underline;
    text-decoration-style: wavy;
}
span.underdoubleline{
    text-decoration: underline;
}
span.superscript {
    vertical-align: top;
    font-size: 70%;
}
span.subscript {
    vertical-align: bottom;
    font-size: 70%;
}
span.numberParagraph:before {
    content:"[";
}
span.numberParagraph:after {
    content:"] ";
}
span.numberParagraph {
    font-size: smaller;
    color: grey;
}

/* ffyl.css (secondary style)
----------------------------------------------------------------------------------------------------*/

/* portada */
body.portada {
  background-color: beige;
}
body.portada h1.titlebook {
  font-size: 1.4em;
  margin: 0 0 60pt 0;
}
body.portada h2.authorbook {
  font-size: 1.2em;
  margin: 0 0 30pt 0;
}
body.portada .editorial {
}

body {
  font-family: "Minion Pro", Cambria, Tahoma, Geneva, Arial, Helvetica, sans-serif;
}

h1.maintitle {
  font-size: 1.2em;
  margin-left: 0;
  text-align: center;
}
